<div class="member">
    <div class="member--image-wrapper">
        <% if(member.image) { %>
            <img src="/public/assets/profile_pics/<%= member.image %>" class="member--image">
        <% } else  { %>
            <div class="member--image"></div>
        <% } %>
    </div>
    <div class="member--info">
        <span class="member--name"><%= member.name %></span>
        <span><%= member.law_firm %></span>
        <% const addressNum = member.addresses.length;
        for (let i = 0; i < addressNum; i++){ %>
            <div class="member--address">
                <span><%= member.addresses[i] %>,</span>
                <span><%= member.cities[i] %>,</span>
                <span><%= member.states[i] %>,</span>
                <span><%= member.zips[i] %></span>
            </div>
        <% } %>
        <span class="block"><%= member.phone %></span>
        <a class="block" href="mailto:<%= member.email %>"><%= member.email %></a>
        <% member.websites.forEach(website => { %>
            <a target="_blank" class="block" href="<%= website %>"><%= website %></a>
        <% }); %>
        <div class="member--links">
            <% Object.entries(member.social_media).forEach(([name, value]) => { if (!value) return %>
            <a target="_blank" href="<%= value %>" class="btn"><%= name %></a>
            <% }) %>
        </div>
        <% if(member.focuses.length > 0) { %>
            <span class="practice-areas-title">Areas of Practice</span>
            <ul>
                <% member.focuses.forEach(focus => { %>
                    <li><%= focus %></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</div>
