<% if(item.type === "partial"){ %>
<%- include(`partials/${item.path}`) %>
<% } %>
<% if(item.type === "article" && meta[item.url]){ %>
    <a class="article" target="_blank" rel="noopener noreferrer" href="<%= item.url %>">
        <div class="article-image-wrapper">
            <img src="<%= item.img || meta[item.url]["og:image"] %>" class="article-image">
        </div>
        <div class="article-meta">
            <div class="article-title"><%= meta[item.url]["og:title"] %></div>
            <div class="article-author">By <span class="article-author-name"><%= item.author || meta[item.url]["og:site_name"] %></span></div>
            <div class="article-description"><%= meta[item.url]["og:description"] %></div>
        </div>
    </a>
<% } %>
