<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head.ejs %>
    <link rel="stylesheet" href="/public/css/members.css">
    <title>Members | NYAAFF</title>
</head>
<body>
<%- include("partials/header.ejs", {page: "members" }) %>
<div class="top-image">
    <div class="text-wrapper">
        <h1>Members</h1>
        <span class="subtext">Who We Are</span>
    </div>
</div>
<div class="content-wrapper">
    <h2>Officers</h2>
    <div class="members-list">
        <% members.officers.forEach(member => { %>
            <%- include('partials/member', {member})%>
        <% }) %>
    </div>
    <h2>Directors</h2>
    <div class="members-list">
        <% members.directors.forEach(member => { %>
            <%- include('partials/member', {member})%>
        <% }) %>
    </div>
    <h2>Members</h2>
    <div class="members-list">
        <% members.members.forEach(member => { %>
            <%- include('partials/member', {member})%>
        <% }) %>
    </div>
</div>
<%- include partials/footer.ejs %>
</body>
</html>
