<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/public/css/members.css">
    <title>Members | NYAAFF</title>
</head>
<body>
<%- include("partials/header.ejs", {page: "members" }) %>
<div class="top-image">
    <div class="text-wrapper">
        <h1 class="top-title">Members</h1>
        <span class="subtext">Who We Are</span>
    </div>
</div>
<div class="content-wrapper">
    <p class="info">Our members practice in the areas of adoption and assisted reproductive technology (ART) law.</p>
    <h2>Officers</h2>
    <div class="members-list">
        <% members.officers.forEach(member => { %>
            <%- include('partials/member', {member})%>
        <% }) %>
    </div>
    <h2>Directors</h2>
    <div class="members-list">
        <% members.directors.forEach(member => { %>
            <%- include('partials/member', {member})%>
        <% }) %>
    </div>
    <h2>Committee Chairs</h2>
    <div class="members-list">
        <div class="member" style="margin-bottom: 0.5em;">
            <span><strong>Membership Committee:</strong> Gregory A. Franklin and Jeanine Castagna</span>
        </div>
        <div class="member" style="margin-bottom: 0.5em;">
            <span><strong>Legislative Committee:</strong> Amelia Demma and Joseph R. Williams</span>
        </div>
        <div class="member" style="margin-bottom: 0.5em;">
            <span><strong>Outreach Committee:</strong> Robin A. Fleischner and Janene Oleaga</span>
        </div>
        <div class="member" style="margin-bottom: 0.5em;">
            <span><strong>Courts Committee:</strong> Brian K. Esser and Alexis L. Cirel</span>
        </div>
    </div>
    <h2>Members</h2>
    <div class="members-list">
        <% members.members.forEach(member => { %>
            <%- include('partials/member', {member})%>
        <% }) %>
    </div>
    <h2>Join NYAAFF</h2>
    <p class="info">If you would like to become a member of NYAAFF and meet the following eligibility requirements, you can email <a href="mailto:gfranklin@afylaw.com">gfranklin@afylaw.com</a> or <a href="mailto:jeanine@jcadoptionlaw.com">jeanine@jcadoptionlaw.com</a>.</p>
    <p class="info"><strong>Eligibility Requirements.</strong></p>
    <p class="info">Any lawyer in good standing in the State of New York who is also a Fellow or Provisional Fellow of the Academy of Adoption & Assisted Reproduction Attorneys (AAAA) is eligible for membership.</p>
    <p class="info">Every applicant whose principal place of business is not located in New York State shall: 1) have represented a party in at least twenty (20) assisted reproduction or adoption cases filed in the New York Courts and/or that have applied New York law, and in which the applicant has drafted or negotiated the material documentation related to the matter, and 2) submit three (3) references from current NYAAFF members attesting to the applicant’s proficiency in New York adoption and/or assisted reproduction laws and procedures, one of whom represented a party in at least one (1) of the twenty (20) cases with the applicant, and 3) confirm a commitment to bettering the practice of assisted reproduction or adoption in New York and/or demonstrated advocacy to positively enact or amend New York adoption and/or assisted reproduction laws, and 4) provide a current Certificate of Good Standing from every jurisdiction in which the applicant is licensed to practice law, and 5) provide a sworn statement regarding any pending disciplinary actions, finding or adverse outcome, from every jurisdiction in which the applicant is licensed to practice. Admission to NYAAFF is subject to a vote of approval by the Board of NYAAFF.</p>
</div>
<%- include('partials/footer.ejs') %>
</body>
</html>
